.Inicio{
    font-size: 20px;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-inline: 15px;
}

header {
    background-color: #999;
    color: white;
    padding: 1em;
}


nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    
    list-style: none;
    justify-content: space-around;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    border-bottom: 1px solid #ccc;

}



footer {
    background-color: #999;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    bottom: 0;
}
.download{
 width: 150px;height: 100px;text-decoration: none;color: black;font-size: 20px;padding-right: 15px;
display: flexbox;
}
.download:hover{
    background: red;width: 150px;height: 100px;text-decoration: none;color: #fff;
}
.DOWNLOADS{
    padding-top: 10px;
}